[{WebApi,Application,Infrastructure,Domain,Contracts}/**/*.cs]
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 120
trim_trailing_whitespace = true
insert_final_newline = true

csharp_style_expression_bodied_methods = false:suggestion
csharp_style_expression_bodied_constructors = false:suggestion
csharp_style_expression_bodied_operators = false:suggestion
csharp_style_expression_bodied_properties = false:suggestion
csharp_style_expression_bodied_indexers = false:suggestion
csharp_style_expression_bodied_accessors = false:suggestion
csharp_style_expression_bodied_local_functions = false:suggestion
csharp_prefer_braces = true:suggestion
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = false
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
dotnet_style_operator_placement_when_wrapping = beginning

[Infrastructure/Migrations/*.cs]
generated_code = true
